.trainee-profile-about,
.trainee-profile-about-right,
.trainee-profile-cogs-right,
.trainee-profile-diagram {
    display: flex;
}

.trainee-profile-about > i {
    margin: 10px 0 0 0;
    width: 12%;
}

.trainee-profile-names-div {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.trainee-profile-mail {
    margin: 16px 0 0px 0;
}

.trainee-button-edit {
    height: 30px;
    width: 40px;
    margin-top: 13px;
    background-color: #85a2ff;
    border: solid 1px #85a2ff;
}

.trainee-button-edit > i {
    margin: -7px 0 0 -4px;
    color: white;
}

.icon2 {
    color: #0cb8b6;
    font-size: 45px;
    margin-bottom: 25px;
}

.space2 {
    margin-top: 59px;
}

.trainee-profile-about-right,
.trainee-profile-diagram {
    justify-content: space-around;
}

.trainee-profile-about-right > i {
    margin: 9px 0 0 0;
}

.trainee-profile-cogs-right {
    justify-content: flex-end;
}

.trainee-gaps {
    width: 10px;
}

.trainee-profile-diagram {
    margin: 30px 0 0 0;
}

.trainee-profile-cogs-right > button:hover {
    background-color: #85a2ff;
    color: #ffff;
}